<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.imagefactory">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
</manifest>
